/****************** Media Queries ******************
 *
 * Phone landscape and bigger *
 * Tablet Landscape and bigger *
 * Desktop and bigger *
 * Large Desktop and bigger *
 * XLarge Desktop and bigger *
 * Desktop and smaller *
 * Tablet landscape and smaller *
 * Phone portrait *
 * Phone portrait and smaller *
 * Smallest *
 *
****************************************************/

@media only screen and (max-width: 1300px) and (min-width: 960px)  {
    
    h1 {
        font-size: 28px !important;
    }
    h2 {
        font-size: 24px !important;
    }
    p,.box-list li, .service-list li {
        font-size: 14px !important;
    }
    .uk-button-large {
        padding: 30px 90px !important;
        font-size: 17px !important;
        width: auto !important;
    }
    .slider-container {
        top: 60% !important;
        padding: 0 !important;
    }
    .dotnav-container {
        bottom: 45px !important;
    }
    #mobile-apps h2 {
        font-size: 60px !important;
        margin-bottom: 40px !important;
    }
    #mobile-apps h2 span {
        font-size: 32px !important;
    }
    .step-box p {
        margin-top: 0 !important;
    }
    #four-steps h2 {
        font-size: 38px !important;
    }
    .testimonial p {
        font-size: 24px !important;
    }
    
}
/* Phone landscape and bigger */
@media (min-width: 640px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    p,.box-list li, .service-list li {
        font-size: 18px;
    }
    .uk-button-large {
        padding: 30px 90px;
        font-size: 21px;
        width: auto;
    }
    .slider-container {
        top: 60%;
        padding: 0;
    }
    .dotnav-container {
        bottom: 45px;
    }
    #mobile-apps h2 {
        font-size: 64px;
        margin-bottom: 40px;
    }
    #mobile-apps h2 span {
        font-size: 36px;
    }
    .step-box p {
        margin-top: 0;
    }
    #four-steps h2 {
        font-size: 42px;
    }
    .testimonial p {
        font-size: 28px;
    }
    .social-last {
        right: 5%;
        width: auto;
    }
    .social-last li a {
        padding: 15px 25px;
    }
    .social-last li a img {
        height: 50px;
        width: 50px;
    }
    .offcanvas-menu {
        position: relative;
    }
    .offcanvas-menu .uk-nav-sub {        
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(120%);
        padding: 0 0 0 70px;
        border-left: 1px solid #e3e3e3;
        width: 50vw;
    }
    .offcanvas-chevron-right {
        transform: translateX(100%) rotate(0);
    }
    .uk-open > .offcanvas-chevron-right {
        transform: translateX(100%) rotate(180deg);
    }
    #booking .uk-grid > .uk-grid-margin {
        margin-top: 30px;
    }
    input.input-smaller,
    .uk-select:not([multiple]):not([size]).input-smaller{
        width: 100%;
    }
    .radio-input-box .radio-wrap label {
        width: 168px;
        margin: 0 1px 2px;
    }
    .uk-width-medium {
        width: 240px;
    }
    .uk-button-default {
        min-width: 240px;
        margin: 60px 10px 10px;
    }
    .switcher-buttons.uk-position-bottom-left {
        width: 280px;
    }
    .page-booking .uk-button-large {
        padding: 25px 90px;
    }
    .services-single .service-box {
        padding: 80px;
    }
    .section-margin {
        margin-top: 160px;
    }
    .blog .uk-card-body {
        padding: 40px 40px;
    }
    .single-blog-pagination {
        margin-top: 20px;
    }
    .contact-wrap,
    .main-wrap {
        padding: 60px;
    }
    .features-img {
        padding: 30px;
    }
    .contact-top h5 {
        margin-bottom: 15px;
    }
    
    .uk-margin-small-top{
        margin-top: 0px !important;
    }
}
/* Tablet Landscape and bigger */
@media (min-width: 960px) {
    .page-header {
        padding: 30px 0 20px;
    }
    .offcanvas-header {
        padding: 30px 0;
    }
    .offcanvas-menu li a {
        font-size: 26px;
    }
    .offcanvas-menu .uk-nav-sub a {
        white-space: nowrap;
        font-size: 22px;
    }
    .offcanvas-chevron-right {
        padding: 10px;
    }
    #slider::before,
    .pagetitle::before  {
        top: 145px;
    }
    #four-steps {
      background: url(../../img/dot-separator.png)no-repeat top center;
      padding-bottom: 160px;
    
    }
    .testimonial p {
        font-size: 22px;
    }
    .pricing {
        margin-bottom: 110px;
    }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
    .uk-container-expand {
        max-width: none;
        width: 96%;
        padding-left: 4%;
    }
    .uk-navbar-nav > li > a {
        font-family: 'Gotham';
        font-weight: 500;
        font-size: 16px;
        color: #414042;
        text-transform: inherit;
        padding: 0 10px;
    }
    .uk-navbar-right .uk-button {
        font-size: 15px;
        padding: 15px 30px;
    }
    .uk-navbar-dropdown-nav li a {
        font-weight: 300;
        padding: 7px 0;
        font-size: 15px;
        color: #fff;
    }
    .page-header-booking {
        border-bottom: 1px solid #cfcfcf;
        padding: 0;
        position: relative;
    }
    
    .header-info{
        font-size:18px;
    }
    
    #slider::before,
    .pagetitle::before  {
        top: 145px;
    }
    .step-box {
        border-left: 1px solid #ccc;
    }
    .step-box.uk-first-column {
        border: none;
    }
    .step-box {
        display: flex;
        padding-left: 20px;
    }
    .copyright li,
    .copyright p {
        margin-bottom: 0;
    }
}
/* Large Desktop and bigger */
@media (min-width: 1600px) {
    .uk-navbar-nav > li > a {
        font-size: 18px;
        padding: 0 18px;
    }
    .uk-navbar-dropdown-nav li a {
        padding: 10px 0;
        font-size: 16px;
    }
    .uk-navbar-right .uk-button {
        font-size: 18px;
        padding: 20px 50px;
    }
    .booking-details li {
        padding: 50px 25px;
    }
    .booking-details-btn li {
        padding: 0 100px;
    }
    .booking-details-btn span {
        font-size: 36px;
    }
    .booking-details-btn h5 {
        font-size: 18px;
    }
    #slider::before,
    .pagetitle::before  {
        top: 151px;
    }
    .blog .uk-card-body {
        padding: 60px;
    }
    .header-info{
        font-size:20px;
    }
}

/* Tablet landscape and smaller */
@media (max-width: 1199px) {
    .switcher-buttons.uk-position-bottom-left {
        bottom: 0;
        position: relative !important;
    }
}
/* Phone portrait */
@media (max-width: 960px) {
    .booking-details li {
        border-right: none;
        padding: 50px 35px;
    }
}
/* Phone portrait and smaller */
@media (max-width: 639px) {
    .uk-child-width-1-2.uk-grid {
        margin-left: -5px;
    }
    .uk-child-width-1-2 > * {
        padding-left: 5px;
    }
    .shape-wrap-first.uk-position-center {
        top: 35%;
    }
    .shape-wrap-second.uk-position-center {
        top: 62%;
    }
    .offcanvas-menu {
        width: 100%;
    }
    .offcanvas-menu .uk-animation-fade {
        opacity: 1!important;
    }
    .features-img img {
        width: 50px;
        height: 50px;
    }
    .contact-info h4 {
        font-size: 21px;
    }
    .popup-box {
        width: 360px;
        margin-left: -185px;
    }
    
    #four-steps{
        padding-top: 0px;
    }
    
    .uk-margin-small-top{
        margin-top: 10px !important;
    }
    
    .my_sticky_button{
        position: fixed;
        bottom: 0;
    }
    
}
/* Smallest */
@media (max-width: 479px) {  
    .booking-details li {
        padding: 15px 20px;
        text-align: center;
        height: 80px;
    }
    .phonecode{
        width: 65%;
    }
}