
/*********************** UI *************************
 *
 *  1. Buttons
 *  2. Forms
 *      2.1. Fancy Select
 *  3. Offcanvas
 *
****************************************************/

/**** 1. Buttons ****/

.uk-button {
    font-family: 'Gotham';
    font-weight: 500;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    padding: 20px 50px;
    background: #643895;
    line-height: 1.2;
    min-height: auto;
    font-size: 18px;
    text-transform: inherit;
}
.uk-button:hover,
.uk-button:focus {
    color: #fff;
    background: #007ec4;
}
.uk-button-primary {
    padding: 20px 50px;
    color: #fff;
    background: #007ec4;
    font-size: 21px;
}
.uk-button-primary span {
    font-weight: 300;
}
.uk-button-primary:hover,
.uk-button-primary:focus {
    color: #fff;
    background: #643895;
}
.uk-button-default {
    background: #1e398d;
    margin: 60px 2px 10px;
    padding: 20px 0;
    border: none;
    min-width: 160px;
}
.uk-button-default:hover,
.uk-button-default:focus {
    background: #007ec4;
}
.uk-button-default-previous {
    background: url(../../img/arrow-left.png)no-repeat 10% center #1e398d;
}
.uk-button-default-previous:hover,
.uk-button-default-previous:focus {
    background: url(../../img/arrow-left.png)no-repeat 10% center #007ec4;
}
.uk-button-default-next {
    background: url(../../img/arrow-right.png)no-repeat 90% center #1e398d;
}
.uk-button-default-next:hover,
.uk-button-default-next:focus {
    background: url(../../img/arrow-right.png)no-repeat 90% center #007ec4;
}
.uk-button,
.uk-button:hover,
.uk-button:focus,
.uk-button:active,
.uk-button-link,
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active {
    outline: none;
    text-decoration: none;
}
.uk-button-large {
    padding: 25px 30px;
    font-size: 21px;
    width: 100%;
}
.uk-sticky-fixed .uk-button-large {
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
}


/**** 2. Forms ****/

input,
textarea,
.uk-select:not([multiple]):not([size]),
.radio-wrap label {
    font-family: 'Gotham';
    border: none;
    background: #00adea;
    color: white;
    /* background: #ededed; */
    box-shadow: none;
    /* color: #414042; */
    height: 80px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 15px;
    line-height: 1;
    margin-bottom: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align-last: center;
}
input.input-smaller,
.uk-select:not([multiple]):not([size]).input-smaller,
.radio-wrap label.input-smaller {
    height: 60px;
}
input.input-smaller,
.uk-select:not([multiple]):not([size]).input-smaller{
    width: 90%;
}
.radio-input-box .radio-wrap label {
    width: 154px;
    margin: 0 3px 6px;
}
.radio-wrap label {
    display: inline-block;
    cursor: pointer;
}
.radio-wrap input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none;
}
/* [type="radio"] + label {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
} */
.radio-wrap input[type="radio"]:checked + label {
    color: #fff;
    background-color: #3e2c52
}


.radio-wrap input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    display: none;
}
.radio-wrap [type="checkbox"] + label {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.radio-wrap input[type="checkbox"]:checked + label {
    color: #fff;
    background-color: #643895;
}


.form-span {
    font-size: 13px;
    font-weight: normal;
    display: block;
    margin-top: 5px;
    text-align: center;
}
.uk-select:not([multiple]):not([size]) {
    color: transparent;
    text-shadow: 0 0 0 #414042;
}
 /* prevent <option>s from becoming transparent as well */
option:not(:checked) {
    color: #414042;
}
.uk-checkbox {
    padding: 0;
    height: 17px;
    width: 17px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #a1a1a1;
    margin-right: 15px;
}
span.accept {
    font-weight: normal;
}
span.accept a {
    color: #007ec4;
}
input:focus,
textarea:focus {
    box-shadow: none;
    outline: none;
}
input[type="submit"] {
    padding: 20px 50px;
    color: #fff;
    background: #007ec4;
    font-size: 21px;
    width: 100%;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
    color: #fff;
    background: #643895;
}
textarea {
    height: 275px;
    padding: 30px;
}
.uk-label {
    font-size: 14px;
    color: #b5b5b5;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    background: none;
    letter-spacing: 2px;
    white-space: normal;
}
*::-webkit-input-placeholder {
    color: #414042;
    opacity: 1;
}
*:-moz-placeholder {
    color: #414042;
    opacity: 1;
}
*::-moz-placeholder {
    color: #414042;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #414042 !important;
    opacity: 1;
}
*::placeholder {
    color: #414042;
    opacity: 1;
}
.ui-widget.ui-widget-content {
    border: 7px solid #f3f3f3;
    width: 100% !important;
    padding: 0;
    background: #f3f3f3;
}
.ui-datepicker table {
    border-collapse: inherit
}
.ui-datepicker .ui-datepicker-title {
    background: #fff;
    margin: 0 0 -2px;
    font-size: 14px;
    padding: 8px 0;
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
    background: #fff;
    border: 1px solid #fff;
}
.ui-datepicker th {
    background: #fff;
    padding: .7em .3em;
}
.ui-widget {
    font-family: 'Gotham';
    font-size: 1em;
}
.ui-widget-header {
    border: none;
    background: transparent;
    color: #585858;
    font-weight: 500;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 1;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 100%;
    margin: 0;
}
.ui-datepicker td span, 
.ui-datepicker td a {
    text-align: center;
    padding: .7em .3em;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, .ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
    /* border: 1px solid #fff; */
    border: none;
    background: #fff;
    color: #ccc;
}
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
    background: #f3f3f3;
    color: #ccc;
    border-color: #737373;
}
.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    border-color: #737373;
    background: #fff;
    font-weight: normal;
    color: #ccc;
}
.ui-datepicker-year {
    display: none;
}

/**** 3. Offcanvas ****/

.uk-offcanvas-bar .uk-offcanvas-close,
.uk-offcanvas-bar .uk-offcanvas-close:hover {
    color: #414042;
    margin: 30px 0px 0;
}
.uk-offcanvas-bar {
    width: 100VW;
    background-color: #fff;
}
.uk-offcanvas-bar {
    padding: 0;
}
.uk-offcanvas-flip .uk-offcanvas-bar {
    left: auto;
    right: -100%;
}
.offcanvas-header {
    padding: 20px 0 45px;
}
.uk-offcanvas-close {
    position: static;
}
.offcanvas-menu {
    list-style: none;
    padding-left: 0;
    display: inline-block
}
.offcanvas-menu li {
    margin-bottom: 10px;
}
.offcanvas-menu li a {
    font-size: 20px;
    color: #414042;
    line-height: 1.5;
}
.offcanvas-menu li a:focus,
.offcanvas-menu li a:hover {
    color: #643895;
    outline: 0;
}
.offcanvas-menu .uk-nav-sub {
    padding: 15px 0 5px 15px;
}
.offcanvas-menu .uk-nav-sub a {
    font-size: 18px;
}
.offcanvas-chevron-right {
    position: absolute;
    right: 0;
    transform: rotate(0);
    top:0;
    margin-right: 0;
    padding: 7px;
    transition: .2s;
    color: #888;
}
.uk-open > .offcanvas-chevron-right {
    color: #643895;
}
.offcanvas-chevron-right:hover {
    cursor: pointer;
}
.uk-open > .offcanvas-chevron-right{
    transform: rotate(90deg);
}
.offcanvas-bottom {
    margin-top: 150px;
}
.offcanvas-bottom li,
.offcanvas-bottom li a {
    font-size: 20px;
    color: #414042;
    line-height: 1.5;
}